

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: #101010; */
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-25deg);
    }

    to {
        opacity: 2;
        transform: rotateX(0);
    }

}

body {
    background-color: black;
}

main {
    animation: transitionIn 2s;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6cec6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6cec6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}


/** Scroll Bar Customizer */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #004e92);
    border-radius: 6px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #1F51FF);
}

/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/** Bubble Background Effect **/

.bubbleBox ul li {
    list-style-type: circle;
    position: absolute;
    width: 35px;
    list-style: none;
    height: 35px;
    opacity: 0;
    background: radial-gradient(whitesmoke, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: bubble 10s linear infinite;

    cursor: none;
}

.bubbleBox ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.bubbleBox ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}

.bubbleBox ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}

.bubbleBox ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

@keyframes bubble {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }

    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}
