

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: #101010; */
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-25deg);
    }

    to {
        opacity: 2;
        transform: rotateX(0);
    }

}

body {
    background-color: #101010;
}

main {
    animation: transitionIn 2s;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6cec6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6cec6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}


/** Scroll Bar Customizer */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #004e92);
    border-radius: 6px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #1F51FF);
}

