
@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("opentype");
  }
 @font-face {
    font-family: "Anurati";
    src: url("../fonts/Anurati-Regular.otf") format("opentype");
  }









  header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: none;
}

/*Add Scroll Up/Down Event */
header.sticky {
    padding: 10px 50px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.010);
	background: #101010;
}

header .logo {
    color: #fff;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 10px;
    text-decoration: none;
    transition: 0.5;
    font-family: "Anurati";
    transition: 0.35s ease-in-out;
}

header .logo:hover {
    color: #1F51FF;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style-type: none;
    margin-right: 60px;
    font-size: 30px;
    font-weight:bolder;
    
}

header .navigation .slash {
    color: #fff;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight:400;
    transition: 0.5s;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: "Orbitron";
    transition: 0.30s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    
}

header .navigation li a:hover {
    font-weight: bolder;
    color: #1F51FF;
}

/** When the navigation link is clicked **/
.clicked {
    background-color: black;
}



header .navigation .dropdownHome {
    position: absolute;
    left: 0;
    background-color: #101010;
    padding: .55em;
    border-radius: .25rem;
    border-color: 10px solid black;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, .3);
    display: none;
}

header .navigation .dropdownGallery {
    position: absolute;
    left: 51%;
    background-color: #101010;
    padding: .55em;
    border-radius: .25rem;
    border-color: 10px solid black;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, .3);
    display: none;
}


header .navigation .homeList:hover .dropdownHome {
    animation: transitionIn 0.75s ease-out;
    display:block;
}

header .navigation .galleryList:hover .dropdownGallery {
    animation: transitionIn 0.75s;
    display:block;
}

/* Icon */
header .menubar:hover {
    color: #1F51FF;
}

/* <a> </a>
/* header .menubar{
    color: white;
    font-size: 40px;
    transition: 0.75s ease-in-out;
} */

header .menubar {
    color: white;
    list-style-type: none;
    font-size: 40px;
    transition: 0.30s ease-in-out;
    right: 0;
    left: 0;
}

header .sideBarMenu {
    list-style: none;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 15vh;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
    flex-direction: column;


    /*Glassmorphism*/
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 #101010;
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*Display Side Bar Menu */
header .menubar:hover .sideBarMenu {
    animation: transitionIn 0.75s;
    display: flex;
}

header .sideBarMenu li {
    background-color: none;  
    display: inline-block;
    padding: 30px;
}

header .sideBarMenu li .sideBarIcon {
    font-size: 30px;
    color: white;
    opacity: 0.5;
    transition: 0.20s ease-in-out;
}

header .sideBarMenu li .sideBarIcon:hover {
    opacity: 100;
}

/* Add styles in each icon during mouse over and mouse in */
/* #hoverFacebook[title]:hover:after {
    background-color: lightgray;
    border-radius: 5px;
    color: white;
    content: attr(title);
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  } */


/******/































main {
    /* min-height: 100vh; */
    background: black;
}

main .container {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;

}

main .container .bubbles {
    position: relative;
    display: flex;
    
}

/* main .container .bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(250s / var(--i));
} */
main .container .bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #1F51FF;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #2600fd44,
                0 0 50px #1F51FF,
                0 0 100px #1F51FF;
    animation: animate 15s linear infinite;
    animation-duration: calc(80s / var(--i));
}

/* main .container .bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0 50px #ff2d75,
                0 0 100px #ff2d75;
} */
main .container .bubbles span:nth-child(even) {
    background: whitesmoke;
    box-shadow: 0 0 0 10px #00000000,
                0 0 50px whitesmoke,
                0 0 100px whitesmoke;
}



@keyframes animate {

    0% {
        transform: translateY(200vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}




main .container article .rowContainer {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  /* height: 100%; */
}

main .container article .rowContainer .row {
  /* background-color: blue; */
  width: 30%;
  /* height: 100%; */
  
  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .container article .rowContainer .row .box {
    width: 90%;
    height: 200px;
    /* background-color: green; */
    margin-bottom: 20px;

    border: 2px solid gray;

    transition: 0.25s ease-in-out;

     /* Glassmorphism */
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 5px );
     -webkit-backdrop-filter: blur( 5px );
     border: 1px solid rgba( 255, 255, 255, 0.18 );


}

main .container article .rowContainer .row .box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 100%;
    border: 2px solid rgba(8, 8, 8, 0.5);

    transition: 0.50s ease-in-out;

    
}

main .container article .rowContainer .row .box .text-overlay button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

    position: relative;
    transition: all 0.3s ease-in-out;
}

main .container article .rowContainer .row .box:hover {
    /* border: 2px solid black; */
    transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}


/** Add text Overlay **/
main .container article .rowContainer .row .box .text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.50s;
    display: flex;
    
    /* padding: 30px; */
    background: rgba(0, 0, 0, 0.6);
    
}

main .container article .rowContainer .row .box .text-overlay h2 {
    color: white;
    font-family: "Orbitron";
    font-size: 20px;
    letter-spacing: 5px;

    position: absolute;
    top: 10%;
    right: 30%;
}

main .container article .rowContainer .row .box .text-overlay:hover {
    opacity: 1;
}


/** Row 1 **/

main .container article .rowContainer .row.row1 {
    display: block;
    
}

main .container article .rowContainer .row.row1 .box.box1 {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 380px;
    /* background: url("../img/atmProjectImage/atmProjectImage.jpg");
    background-size: cover;
    background-repeat: no-repeat; */


}

main .container article .rowContainer .row.row1 .box.box2 {
    display: block;
    margin: auto;
    margin-top: 80px;
    height: 380px;
}





/** Row 2 **/
main .container article .rowContainer .row.row2 {
    display: block;
}

main .container article .rowContainer .row.row2 .box.box1 {
    margin-top: 50px;
    
}

main .container article .rowContainer .row.row2 .box.box2 {
    margin-top: 150px;
    height: 400px;
}

main .container article .rowContainer .row.row2 .box.box3 {
    margin-top: 80px;
    height: 280px;
}


/** Row 3 **/
main .container article .rowContainer .row.row3 {
    display: block;
}

main .container article .rowContainer .row.row3 .box.box1 {
    margin-top: 5px;
    height: 280px;
    position: relative;
}

main .container article .rowContainer .row.row3 .box.box2 {
    height: 300px;
    margin-top: 100px;
}

main .container article .rowContainer .row.row3 .box.box3 {
    height: 360px;
    margin-top: 100px;
}


/********************************/
/********************************/
/********************************/
/********************************/
/********************************/
/******* POP UP EFFECT **********/

/** Pop Up Row 1 Box 1 **/

main .container article .popup {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    height: 100%;
    
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

main .container article .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


/** Button Testing **/

/* main .container .box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .box .btn {
    padding: 10px 60px;
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

main .container .box .popup {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    height: 100%;
    
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

main .container .box .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

main .container .box .popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main .container .box .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

main .container .box .popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px; 
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


 */


 /***** TESTING *****/
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    cursor: pointer;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: gray;
    /* margin: 15% auto; */ /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
  }